.form-Contact{

    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    /* margin: 5px; */
    border-radius: 14px;
    border: 1px solid #383838;
    background-color: #1E1E1F;
    padding: 3%;
    padding-bottom: 40px;
    gap: 20px;
  
  }

    .main-title{
    width: 100%;
}

  .title{
    width: 100%;

    position: relative;
    display: inline-block;
    font-size: 1 rem;
    margin-bottom: 2rem;
}



.title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 3px;
  background: linear-gradient(90deg, #0887a0, #7DDFF2);
  border-radius: 2px;
  animation: slideIn 0.9s ease;
}

.text-box{
    display: flex;
    flex-direction: column;
    /* border-radius: 14px; */
    width: 80%;
    /* background-color: aquamarine; */
    align-items: center;
    /* gap: 10px; */
    ;
 
}

.text-box textarea {
    width: 100%;
    height: 200px;             
    padding: 10px;           
    border-radius: 8px;  
    background-color: #1e1e1f;    
    border: 1px solid #383838;
    outline:none;
    color: #D6D6D6;     
    box-sizing: border-box;  
    font-size: 16px;         
    display: block;          
    margin: 0 auto;          
}

.text-box input{
    width: 100%;             
    padding: 10px; 
    background-color: #1e1e1f;
    outline:none;
    color: #D6D6D6; 
    border-color: #0887a0;          
    border-radius: 8px;      
    border: 1px solid #383838;  
    box-sizing: border-box;  
    font-size: 15px;         
    display: block;          
    margin: 0 auto;          
}

.text-box input:focus,
.text-box input:focus-visible,
.text-box textarea:focus,
.text-box textarea:focus-visible{
    outline: none;
    border-color: #0887a0;         
    box-shadow: 0 0 5px #0887a0;   
}


button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    background-color: #1e1e1f;
     border: 1px solid #383838; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;

    outline: none;        
    box-shadow: none;     
    transition: all 0.3s ease;
}

button:hover {
    border-color: #07a1bf;  
}
button:focus{
    background-color:  #07a1bf;
}

