.app-resume{

    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* margin: 5px; */
    border-radius: 14px;
    border: 1px solid #383838;
    background-color: hsl(240, 2%, 13%);
    padding: 3%;
    padding-bottom: 40px;
    font: 14px;
    max-width: max-content;
  
    p {margin-left: 2rem;
      margin-top: 0px;

    }
        
}

.app-resume-intitule{
  margin: 0px;

 h3{
  margin-bottom: 0px;

 }
  
  h4{
    color: #7DDFF2;
    margin-top: 0px;
  }

  li{
    color: #D6D6D6;
  }

}

.resume-title {
  position: relative;
  /* display: inline-block; */
  /* font-size: 1 rem; */
  /* margin-bottom: 2rem; */
}

.resume-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 70px;
  height: 3px;
  background: linear-gradient(90deg, #0887a0, #7DDFF2);
  border-radius: 2px;
  animation: slideIn 0.9s ease;
}



@keyframes slideIn {
  from {
    width: 0;
    opacity: 0;
  }
  to {
    width: 70px;
    opacity: 1;
  }
}
