.skills-container {
  min-width: 300px;
  padding: 10px;
  border-radius: 14px;
   border: 1px solid #383838;
  /* max-width: 100%; */
  /* margin: 2rem auto; */
  /* padding: 2rem; */
}
/* 
.skills-container h2 {
  text-align: center;
  color: #0066ff;
  margin-bottom: 2rem;
  font-size: 2rem;
} */

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill-header {
  display: flex;
 
  gap: 0.4rem;
  align-items: center;
}

.skill-name {
  font-weight: bold;
  color: #D6D6D6;
  font-size: 0.9rem;
}

.skill-percentage {
    color: #D6D6D6;
    /* font-weight: bold; */
    font-size: 0.8rem;
}


.skill-bar-container {
  width: 100%;
  height: 8px;
  background: #383838;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.skill-bar-fill {
  height: 100%;
  background: linear-gradient(#7CDEF1, #53B5C9);
  border-radius: 10px;
  animation: fillBar 1s ease-out;
  transition: width 0.3s ease;
}

/* Animation au chargement voir pour faire sur chaque barre car va à 100% puis réinitialise pas ouf!  */
@keyframes fillBar {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}


.skill-bar-fill:hover {
    background: linear-gradient(90deg,#00ccff, #0099ff,);
    box-shadow: 0 0 10px rgba(0, 102, 255, 0.5);
}

@media (max-width: 1024px) {
  .skills-container {
    padding: 1rem;
  }

  .skill-bar-container {
    height: 7px;
  }
}