
  .header {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: hsl(240, 2%, 13%);
    border: 1px solid #383838;
    min-height: 50px;
    /* align-items: center; */
    /* align-content: center; */
    justify-content: center;
    /* margin: 5px; */
    opacity: 90%;
  
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%; /*Ajustement pour la marge */
    z-index: 1;
    display: flex; 
    /* flex-direction: column; */
    /* overflow: hidden; */
  }

  .header-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-inline-start: 0px;
    margin-right: 20px;
    gap: 10px;
    /* padding: 0 10px; */
    /* gap: 5px; */
  }


  .header-list a {
  color: #D6D6D6;           
  text-decoration: none;   /*retire le soulignement nul*/
  font-weight: 500;
  transition: color 0.5s;   
}

.header-list a:hover {
  color: #7DDFF2;            
}


  /* @media only screen and (min-width: 1024px) {
     .header {
      position: relative;
    
  }

} */

/* .header-list a:active {
  color: rgba(255, 0, 0, 0.277);      
} */
