.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
   margin-bottom: 70px;


}

.container-content{
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 15px;
  min-width: 350px;
  
 
  

}



.profil{
  /* flex: 0 0 20%; */
  /* width: 20%; */
  height: 100px;
  background-color: green;
  position: sticky;
  
}

.about{
  display: flex;
  /* flex-direction: column; */
  /* position: fixed; */
}

.principal{
  flex: 0 0 70%;
  flex-direction: column;
  height: max-content;
  position: relative;
  align-items: center;
  align-content: center;
  
}


.profil-main{
  flex: 0 0 30%;
  position: relative;
  height: 100vh;
}