@import url('./Components/Style/Style.css');

body {
    font-family: "Poppins", sans-serif;
    color: #D6D6D6;
    /* background-color: hsl(240, 2%, 13%); */
    background-color: #0E0E0E;

    margin-right: 3%;
    margin-left: 3%;
    margin-top: 0%;

  }


